
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar{
    background-color: #0ea5e9;
    height: 100vh;
    color: white;
}

.main{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

svg{
    height: 30px;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

p{
    margin-left: 20px;
    font-size: 20px;
}

.icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;
}

.icon2{
    margin: 50px 0px;
}

.header{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.contents{
    background-color:#f3f4f6;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inputfield{
    width: 500px;
    border-radius: 10px;
    border: 2px solid #f3f4f6;
    background-color: #f3f4f6;
    margin-left: 20px;
    margin-right: 50px;
}